/* reset css style*/
*{
    margin: 0;
    padding: 0;
}

/* header style */
#body_content{
    font-family: "メイリオ", sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    position: relative;
    width: 760px;

    font-weight: 400;
}

#header
{   
    position: relative;
    margin-top: 3px;
    border-bottom: 1px solid #CCC;
    height: 80px;
    width: 100%;
}

.top_border
{
    border-bottom: 1px solid #ccc;
    margin-left: 170px;
}

#header #muit_logo {
    width: 161px;
    height: 64px;
    
    margin-top: 4px;
    margin-left: 2px;
}

#header .title 
{
    display: inline;

    font-weight: 600;
    font-size: 1.17em;

    position: absolute;
    right: 0;
    top: 50%;

    transform: translate(8px, -50%) translateY(-4px)
}

#main {
    display: inline-block;
    width: 597px;
    padding-top: 3px;
    padding-left: 3px;
}

#main .maintitle {
    display: block;
    background-color: #3D963A;
    color: #ffffff;

    height: 33px;
    line-height: 33px;
    margin-top: 1px;

    font-size: 1.1em;
    font-weight: 400;
    text-indent:10px;
}

/* primary content style*/
#primary_nav
{
    display: inline-block;
    list-style: none;

    width: 160px;

    vertical-align: top;
}

#primary_nav .primary_nav_item 
{
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 2px;

    text-align: left;
    padding: 2px 3px 2px 3px;
    font-size: 13px;

    cursor: pointer;
}

#primary_nav .primary_nav_item:hover {
    color: #3D963A;
}

#primary_content 
{ 
    border: 1px;
    border-style: solid;
    border-color: #c1c1c1;

    background-color: #ffffff;

    margin-top: 3px;
}

#primary_content #footer_content {
    position: relative;

    padding: 10px 20px;
    border-top: 1px solid #c1c1c1;
    font-size: 12px;
}

#primary_content #footer_content #footer_logo {
    width:100px;
    height: 90px;
    
    position: absolute;
    top: 10px;
    right: 10px;
}

#primary_content .personal_content {
    display: block;
    
    padding: 6px 10px;

    font-size: 0.7em;
    line-height: 21px;
}

#primary_content .personal_content .personal_info {
    display: inline-block;
    width: 360px;
}

#primary_content .personal_content #photo {
    width: 200px;

    vertical-align: top;

    float: right;
}

#primary_content .personal_content .message_content {
    font-size: 0.7em;
    line-height: 20px;
}

#primary_content .personal_content .message_content a{
    text-decoration: none;
    color: #000;
}

#primary_content .personal_content .message_content a:hover{
    color: #3D963A;
}

#primary_content .personal_news {
    padding: 0px 10px;

    font-size: 0.7em;
    line-height: 21px;
}

#primary_content .personal_news a {
    color: #72af2c
}

#primary_content .subtitle {
    font-size: 12px;
    color: #72af2c;

    margin-top: 6px;
}

#primary_content .bio_intro {
    font-size: 12px;
    padding: 10px 20px;

    border-bottom: 1px solid #c1c1c1;
}

#primary_content .bio_exp {
    padding: 20px 30px;
}

#primary_content .bio_exp .bio_exp_logo {
    width: 120px;
}

#primary_content .bio_exp .bio_exp_details {
    display: inline-block;
    margin-left: 30px;

    vertical-align:top;
    text-align: left;
    padding-top: 10px;
    font-size: 12px;
}

#primary_content .list_title {
    font-size: 0.9em;
    font-weight: 600;

    margin: 10px;
}

#primary_content .list {
    padding-inline-start: 40px;
}

#primary_content .list .item {
    display: list-item;

    font-size: 0.7em;
    line-height: 1.7em;

    margin-bottom: 0.5em;

    max-width: 550px;
}

#primary_content .list .item a{
    text-decoration: none;
    color: #000;
}

#primary_content .pubs_list {
    list-style-type: none;
    counter-reset: o-counter;

    padding-inline-start: 60px;
}

#primary_content .pubs_list .item {
    font-size: 0.7em;
    line-height: 1.7em;

    margin-bottom: 0.5em;
}

#primary_content .pubs_list .item:before{
    display: inline-block;
    content: '[' counter(o-counter) '] ';
    counter-increment: o-counter;
    width: 3em;
    margin-left: -3em;
}

#primary_content .pubs_list .item a{
    text-decoration: none;
    color: #000;
}

#primary_content .invitedtalk_list {
    padding-inline-start: 20px;
}

#primary_content .invitedtalk_list .item {
    display: list-item;
    list-style-position: inside;

    font-size: 12px;
    line-height: 20px;

    margin-bottom: 10px;
}

#primary_content .invitedtalk_list .item a{
    text-decoration: none;
    color: #000;
}

#footer_content a{
    text-decoration: none;
    color: #3D963A;
}